# SPDX-FileCopyrightText: Copyright 2026 Arm Limited and/or its
# affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

mlek-tools @ https://gitlab.arm.com/artificial-intelligence/ethos-u/ml-embedded-evaluation-kit/-/archive/26.06-rc1/ml-embedded-evaluation-kit-26.06-rc1.tar.gz?ref_type=tags#subdirectory=scripts/py
kas==4.4
Jinja2==3.1.6
telnetlib3==4.0.4
